# Tells git to ignore the aux files
# comment or delete the line below for when you want the final pdf added, otherwise you don't really want git to track the binary changes 
*.pdf
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot